<div class="container">
	
            <div class="card" style="background-color:#333333;">
                <div class="cardheader_DarkRed">
                    <span class="cardheadertext">Max Energy™...The Best Handheld Performance Tuner On The Market!</span>
                </div>
                <div class="cardcontainer">
                    <p>Max Energy Tuning extracts every bit of energy possible out of every molecule 
                        of fuel giving you more miles at part-throttle and more power at wide-open 
                        throttle. In order to increase engine efficiency, horsepower and torque, 
                        our engineers first optimize the spark and fuel curves point by point over 
                        the entire rpm band. With the additional power and optimized transmission functions, drivers use less 
                        fuel to accelerate and maintain cruising speeds without the torque converter 
                        un-locking and transmission down-shifting to a lower gear. <b>The results are 
                        maximum power and fuel mileage</b>.</p>
                </div>           
            </div>

            <div class="card card-table">
                
                <div class="horz-img-left" style="background-image: url({{ 'Tuning_sm.gif' | asset_img_url: 'master' }});background-position:left center; background-size: cover;">
                </div>

                <div class="cardcontainer">
                    <div>
                        <h3>Hypertech Power Tuning</h3> <br>      

                        <div><strong>Gas Vehicles</strong></div>

                        <p>Higher compression ratio engines and engines with superchargers or turbo 
                        chargers were designed to use only premium octane, so only one (1) Power 
                        Tuning program for premium octane is provided. But, if your car or truck 
                        came from the factory capable of using more economical regular octane, 
                        then two (2) optimized tuning programs are provided: one for premium, and 
                        the other for regular. In most cases, Hypertech’s exclusive Power Tuning 
                        for regular octane provides excellent power gains, almost as much power as 
                        premium octane. If you are using premium octane, and you want all-out, 
                        maximum power, then select premium octane Power Tuning.</p>
                        <br> 
                
                        <div><strong>E-85/Flex Fuel Vehicles</strong></div><br>


                        <p>We recommend premium octane tuning for vehicles using E-85 fuel. The improved 
                        engine tuning will increase the part-throttle efficiency and wide-open 
                        throttle performance compared to the factory tuning.</p>
                        <br>
                
                        <div><strong>Diesel Vehicles</strong></div><br>

                        <p>Three (3) stages of Power Tuning are available. Even the highest power level, 
                        Stage 3, maintains safe EGTs while towing the maximum weight specified by 
                        the vehicle's manufacturer. No other tuner offers this level of power for towing. 
                        Hypertech’s low EGTs, proper transmission shifting and superior tuning that 
                        doesn’t require de-fueling, giving the Max Energy Power Programmer the 
                        performance advantage.</p>

                        <br>
                    </div>
                </div>
            </div>

            <div class="card card-table">
        
                <div class="cardcontainer">
                    <div>
                        <h3>Speedometer Calibrator</h3>   

                        <p>If you’ve installed tires that are larger or smaller than original 
                        equipment tires, or if you have installed a ring and pinion gear set 
                        with a different rear gear ratio, the Max Energy allows you to re-program 
                        for correct speedometer and odometer readings, as well as correct 
                        part-throttle shifting. The vehicle’s computer calculates your vehicle’s 
                        speed based on the diameter of the stock tires. If you’ve installed taller 
                        or shorter tires, or changed the rear gear ratio, the vehicle’s computer 
                        doesn’t know how fast your vehicle is going. As a result, the automatic 
                        transmission may not shift correctly and the speedometer readings 
                        will not be accurate (as required by law).</p>  

                    </div>
                </div>
                <div class="horz-img-right" style="background-image: url({{ 'SpeedoCal2.gif' | asset_img_url: 'master' }}); background-position:left center;background-size: cover;">
                </div>
            </div>

            <div class="card card-table">
                <div class="horz-img-left" style="background-image: url({{ 'Top_Speed.gif' | asset_img_url: 'master' }}); background-position:left center; background-size: cover;">
                    
                </div>
                <div class="cardcontainer">
                    <div>
                        <h3>Top-Speed Limiter</h3>     

                        <p>Automobile manufacturers limit a vehicle’s top-speed to match the speed rating of the factory-installed tires. If you have installed tires that have a different speed rating, the Max Energy allows you to raise or lower the vehicle’s top-speed limiter to match the speed rating of the newly installed tires. A tire’s speed rating for maximum safe speed under perfect conditions is marked on its sidewall. Always obey all traffic laws when driving and only use this feature for off-highway competition in sanctioned events.</p>     

                    </div>
                </div>
            </div>

            <div class="card card-table">        
                <div class="cardcontainer">
                    <div>
                        <h3>Automatic Transmission Adjustments</h3><br> 

                        <div><strong>Shift Firmness</strong></div><br>

                        <p>Increase shift firmness to maximize performance or when towing, to reduce clutch 
                        slippage and transmission oil temperatures. That means longer transmission life. 
                        However, this feature must not be used If you have installed an aftermarket shift 
                        kit.</p>

                        <br>

                        <div><strong>Shift Points</strong></div><br>

                        <p>The Max Energy allows you to raise or lower the shift points in 100 RPM increments 
                        for maximum performance, quicker acceleration, and better 1/4-mile times. With the Max 
                        Energy Power Programmer, you have the ability to customize the shift points for every 
                        gear. Optimizing each shift point can definitely improve performance.</p>            

                    </div>
                </div>
                <div class="horz-img-right" style="background-image: url({{ 'Automatic.gif' | asset_img_url: 'master' }}); background-position:left center; overflow: hidden;  background-size: cover;">
                </div>
            </div>

            <div class="card card-table">
                <div class="horz-img-left" style="background-image: url({{ 'FuelManagement.gif' | asset_img_url: 'master' }}); background-position:left center; background-size: cover;">
                </div>

                <div class="cardcontainer">
                    <div>
                        <h3>Fuel Management Systems "V4/V8 mode"</h3><br>                   			                                    
                        <p>For improved fuel economy, vehicle manufacturers have developed V4/V8 modes. Chrysler &amp; Dodge vehicles use the Multi-Displacement System (MDS) and GM has the Active Fuel Management System (AFM). These systems allow the engine to turn into a fuel sipping 4-cylinder during light load conditions such as steady speed cruising. We perfected the engine efficiency in V4 mode for both regular and premium octane. These systems have major benefits in fuel economy, but with a sacrifice in drivability when in V4 mode, and during the transition to V8 mode. The Max Energy allows you to adjust the minimum speed at which the V4 mode activates. Adjusting the minimum speed higher would prevent the V4 mode from activating while the road noise is low and V4 exhaust note is noticeable. Activating at a higher speed would allow for full benefit of the Max Energy 2.0 engine tuning in V4 and V8 mode at those higher speeds where the exhaust sound isn’t as noticeable. The V4/V8 mode can also be disabled completely as well.</p>    

                    </div>
                </div>
            </div>

           <div class="card card-table">        
                <div class="cardcontainer">
                    <div>
                        <h3>0-60 Throttle Restriction</h3><br>      

                        <p>For improved fuel economy, vehicle manufacturers have developed V4/V8 modes. Chrysler &amp; Dodge vehicles use the Multi-Displacement System (MDS) and GM has the Active Fuel Management System (AFM). These systems allow the engine to turn into a fuel sipping 4-cylinder during light load conditions such as steady speed cruising. We perfected the engine efficiency in V4 mode for both regular and premium octane. These systems have major benefits in fuel economy, but with a sacrifice in drivability when in V4 mode, and during the transition to V8 mode. The Max Energy allows you to adjust the minimum speed at which the V4 mode activates. Adjusting the minimum speed higher would prevent the V4 mode from activating while the road noise is low and V4 exhaust note is noticeable. Activating at a higher speed would allow for full benefit of the Max Energy 2.0 engine tuning in V4 and V8 mode at those higher speeds where the exhaust sound isn’t as noticeable. The V4/V8 mode can also be disabled completely as well.</p> 

                    </div>
                </div>
                <div class="horz-img-right" style=" background-image: url({{ 'Throttle.gif' | asset_img_url: 'master' }}); background-position:left center; background-size: cover;">
                    
                </div>
            </div>

            <div class="card card-table">
                <div class="horz-img-left" style="background-image: url({{ 'Rev_Limiter.gif' | asset_img_url: 'master' }}); background-position:left center; background-size: cover;">
                    
                </div>
                <div class="cardcontainer">
                    <div>
                        <h3>RPM “Rev” Limiter</h3><br>   

                        <p>In today’s vehicles, the onboard computer controls maximum engine rpm. The stock computer is programmed to shut down the engine when it reaches its redline. But if you have modified your vehicle to increase its high-speed performance, more rpm means more power. When you shift gears with the stock rpm limit, the engine falls back to below the peak of its horsepower curve. When you extend the engine’s rpm range with the Max Energy Power Programmer, your engine has more power available after gear changes. By adjusting the maximum rpm to keep the engine in the “sweet spot” of its power curve, you can increase the average horsepower that accelerates the vehicle.</p>     

                    </div>
                </div>
            </div>


            <div class="card card-table">        
                <div class="cardcontainer">
                    <div>                            
                        <h3>Cooling Fan “On/Off” Temperatures</h3><br>      

                        <p>The Max Energy allows you to adjust the “on/off” temperatures of your vehicle’s electric cooling fans to match a lower temperature thermostat, such as a Hypertech PowerStat. A low-temperature thermostat produces a cooler, denser intake charge, is less likely to detonate under heavy loads and allows the engine to make more power.</p>               

                    </div>
                </div>
                <div class="horz-img-right" style="background-image: url({{ 'Cooling_Fans.gif' | asset_img_url: 'master' }}); background-position:left center; background-size: cover;">
                    
                </div>
            </div>

            <div class="card card-table">
                <div class="horz-img-left" style="background-image: url({{ 'DTCs.gif' | asset_img_url: 'master' }}); background-position:left center;background-size: cover;">
                    
                </div>
                <div class="cardcontainer">
                    <div>                            
                        <h3>Read &amp; Clear Diagnostic Trouble Codes(DTCs)</h3><br>  

                        <p>If you get a “check engine” light or “service needed” message, the Max Energy will allow you to read the code and gives you the ability to clear the code and turn the “check engine” light off. You can then make the necessary repairs to prevent the light from coming back on.</p>    

                    </div>
                </div>
            </div>


            <div class="card card-table">        
                <div class="cardcontainer">
                    <div>                            
                        <h3>Return To Stock Or Change Option Settings</h3><br> 

                        <p>Hypertech’s Max Energy downloads and saves the stock tuning program, then uploads your customized Power Tuning program. Before taking your vehicle into a dealership for service, always return the vehicle’s computer back to the factory programming. Once you have the vehicle back from the dealership, reinstall the Max Energy Power Programming as before. The Max Energy can only be used on one (1) vehicle at a time, so if you sell your vehicle or want to use it on a friend’s vehicle, simply return your vehicle to the stock tuning program and you may then use the programmer on another vehicle that is covered in the same part number.</p>

                    </div>
                </div>
                <div class="horz-img-right" style="background-image: url({{ 'RTS.gif' | asset_img_url: 'master' }}); background-position:left center;background-size: cover;">
                    
                </div>
            </div>


            <div class="card card-table">
                <div class="horz-img-left" style="background-image: url({{ 'Internet_Update.gif' | asset_img_url: 'master' }}); background-position:left center; background-size: cover;">
                    
                </div>
                <div class="cardcontainer">
                    <div>                            
                        <h3>Internet Updateable</h3><br>  

                        <p>The Max Energy Power Programmer comes with a USB cable and a CD containing 
                        software to enable quick updates over the internet. If your vehicle has a 
                        new calibration not available when your Max Energy Power Programmer was 
                        manufactured, it is possible that you will see a “Cal not found” message 
                        on the Max Energy screen. If this occurs, you can simply update your Max 
                        Energy with the correct new calibration via the internet. Simply connect the 
                        Max Energy (using the provided USB cord) to your computer and go to 
                        <a href="https://hypertech.com" style="color: #999999">www.hypertech.com.</a> Then click on the Support button to get update downloads.</p>   


                    </div>
                </div>
            </div>






</div>

