<div class="container">
	
            <div class="card" style="background-color:#333333;">
                <div class="cardheader_DarkRed">
                    <span class="cardheadertext"> HyperPAC…The World’s First Performance Automotive Computer </span>
                </div>
                <div class="cardcontainer">
                    <p>The HyperPAC, Hypertech’s Performance Automotive Computer, allows you to power tune your vehicle for more horsepower and torque, perform runs just like you’re at the drag strip, dyno test your engine to compare gains from aftermarket modifications, monitor virtually every engine and transmission function as a digital or analog gauge, diagnose problems, and clear “check engine” lights. The HyperPAC will also interface with an optional Hypertech exhaust gas temperature (EGT) module to display important information that may not be available from a diesel vehicle’s computer.</p>

                    <p>The HyperPAC is a computer that plugs into your diagnostic port and collects all the necessary data from your vehicle inputs to program, monitor, record and evaluate your vehicle's performance with unrivaled accuracy. A high-resolution, 3-inch x 4-inch touch screen makes it easy to select functions, and the menus are so simple that most people claim you don’t need the instruction manual. It delivers everything an enthusiast ever wanted right on your dash in one easy-to-use package.
                    </p>

                </div>           
            </div>

            

            <div class="card card-table trans-bg">
                <div class="cardcontainer">
                    <div>
                        <h3>Performance Tuning</h3>   
                        <ul>
                            <li>The Performance Tuning Program contains Max Energy Power Tuning and all of the Max Energy features available for your vehicle.</li><br>

                            <li>Provides the safest, most powerful, 50-state legal Max Energy Power Tuning™ available for regular and premium octane, as well as 3 stages of engine tuning for diesels.</li><br>

                            <li>Users boast of a 2 to 6 mpg increase, even when towing heavy loads.</li><br>

                            <li>Allows towing at the maximum weight rating specified by the vehicle's manufacturer, even at the highest power setting.</li><br>

                            <li>Allows you to adjust and re-program many other performance features based on year, make and model, as well as return the vehicle to the stock tuning.</li>
                        </ul>  
                    </div>
                </div>
                <div class="horz-img-right" style="background-image: url({{ 'HyperPAC-Power-Tuning.gif' | asset_img_url: 'master' }}); background-position:left center;background-size: cover;">
                </div>
            </div>

            

            <div class="card card-table trans-bg">
                <div class="cardcontainer">
                    <div>
                        <h3>Drag Strip</h3>   
                        <ul>
                            <li>Monitors real-time engine operating conditions before a run.</li><br>

                            <li>Produces a real “christmas tree” start, measures and displays reaction time just like you get at the track.</li><br>

                            <li>Automatically displays a time slip just like you get at the track.</li><br>

                            <li>Displays “magazine-type” road test acceleration times in ten mile-per-hour increments.</li><br>

                            <li>Displays drive-wheel horsepower vs. vehicle speed after each run.</li><br>

                            <li>Records and displays engine operating conditions throughout the run.</li>
                        </ul>         
                    </div>
                </div>
                <div class="horz-img-right" style="background-image: url({{ 'Drag-Strip-Screen.gif' | asset_img_url: 'master' }}); background-position:left center;background-size: cover;">
                </div>
            </div>


            <div class="card card-table trans-bg">
                <div class="cardcontainer">
                    <div>
                        <h3>Dynamometer</h3>   
                        <ul>
                            <li>Displays drive-wheel horsepower vs. vehicle speed, and engine horsepower & torque vs. RPM, in both table and graph formats.</li><br>

                            <li>Automatically corrects horsepower and torque to Standard Temperature and Pressure (S.T.P.), allowing valid comparisons between tests conducted under different atmospheric conditions.</li><br>

                            <li>Records and displays a data acquisition report of important engine operating conditions throughout the run.</li><br>
                        </ul>         
                    </div>
                </div>
                <div class="horz-img-right" style="background-image: url({{ 'Dynamometer-Screen.gif' | asset_img_url: 'master' }}); background-position:left center;background-size: cover;">
                </div>
            </div>


            <div class="card card-table trans-bg">
                <div class="cardcontainer">
                    <div>
                        <h3>Gauges</h3>   

                        <p>
                            An advanced gauge package that allows viewing of almost any engine function as analog or digital gauge. User selectable, as many as sixteen different functions may be viewed in digital form or in combinations of one, two, or five analog gauges.
                        </p>

                        <div class="list-flex">
                            <div class="list-col">
                                <ul>
                                    <li>RPM</li>
                                    <li>Mass Air Flow</li>
                                    <li>Trans Temp</li>
                                    <li>Spark Advance</li>
                                </ul> 
                            </div>
                            <div class="list-col">
                                <ul>
                                    <li>Engine Knock</li>
                                    <li>Throttle Position</li>
                                    <li>EGT (w/module)</li>
                                    <li>AFT (w/module)</li>
                                </ul> 
                            </div>
                        </div>

                    </div>
                </div>
                <div class="horz-img-right" style="background-image: url({{ 'Gauges-Screen.gif' | asset_img_url: 'master' }}); background-position:left center;background-size: cover;">
                </div>
            </div>

            
            <div class="card card-table trans-bg">
                <div class="cardcontainer">
                    <div>
                        <h3>Diagnostics</h3>   
                        <p>When a DTC (Diagnostic Trouble Code) is detected, the HyperPAC displays the factory code number with a complete description and allows you to clear the code. This allows owners to access information about the vehicle’s operation without having to purchase expensive diagnostic computers or scanners used by dealership technicians. You can then make the necessary repairs to prevent the light from coming back on.</p>    
                    </div>
                </div>
                <div class="horz-img-right" style="background-image: url({{ 'DTCs.gif' | asset_img_url: 'master' }}); background-position:left center;background-size: cover;">
                </div>
            </div>





</div>

