<div class="container">
	
            <div class="card" style="background-color:#333333;">
                <div class="cardheader_DarkRed">
                    <span class="cardheadertext">Power Coil Kits, Caps, & Rotors </span>
                </div>
                <div class="cardcontainer">
                    
                    <img src="{{ 'Power-Coil.png' | asset_img_url: 'master' }}" alt="Power Coil kits" />

                    <p>Hypertech’s Power Coil is capable of firing a street or slightly modified engine up to 7000 RPMs. Voltage gain over stock can exceed up to 57% more output depending on application. Stock coils usually average around 36,000 volts as compared to Hypertech’s coil kits that average between 45,000 and 55,000. Our coil kits include coil, brass terminals, cap, and rotor. Nylon rotor hold-down screws are included to prevent misfire, and our caps are made of high dielectric material to prevent carbon tracking. Each cap fits the distributor housing tightly to eliminate leakage. Installation is quick and easy.
                    </p>


                </div>           
            </div>

  {% comment %}
  
            <div class="card" style="background-color:#333333;">
                <div class="cardheader_DarkRed">
                    <span class="cardheadertext">PowerStat™</span>
                </div>
                <div class="cardcontainer">
                    
                    <img src="{{ 'Thermostat.png' | asset_img_url: 'master' }}" alt="PowerStat" />

                    <p>To complete your performance package, Hypertech recommends the use of a low-temp thermostat to complement the performance tuning found in the Hypertech Power Tuning products. Available in both 160˚ and 180˚ range, the PowerStat low-temp thermostat improves performance in two ways: first by inducing less heat into the intake air and second by reducing the engine’s tendency to detonate.</p>

                    <p>
                        <ul>
                            <li>For vehicles with manual fans</li>
                            <li>For better heater output in cold weather driving, a 180˚.  PowerStat can be substituted for any application that requires a 160˚ PowerStat.</li>
                        </ul>
                    </p>


                </div>           
            </div>


            <div class="card" style="background-color:#333333;">
                <div class="cardheader_DarkRed">
                    <span class="cardheadertext">Power Pump </span>
                </div>
                <div class="cardcontainer">
                    
                    <img src="{{ 'Power-Pump.png' | asset_img_url: 'master' }}" alt="Power Pump" />

                    <p>The Hypertech Power Pump is an externally-mounted electric pump designed to work with stock and slightly modified engines making up to 550 horsepower using a fuel injection system. It is to be used in addition to the stock in-tank pump. (It is recommended that engines producing over 550 horsepower use two (2) pumps.) The pressure is not pre-set and does require a pressure regulator. The flow rate is 162 liters per hour or 42.79 gallons with a pressure rating of 125 PSI. The pump is not compatible with methanol or alcohol fuels.

                    </p>


                </div>           
            </div>
</div>
{% endcomment %}

{% comment %}

<div class="container container-2">

            <div class="card" style="background-color:#333333;">
                <div class="cardheader_DarkRed">
                    <span class="cardheadertext">Adjustable Fuel Pressure Regulator </span>
                </div>
                <div class="cardcontainer">
                    
                    <img src="{{ 'Fuel-Pres-Regulator-2.png' | asset_img_url: 'master' }}" alt="Adjustable Fuel Pressure Regulator" />

                    <p>Hypertech’s adjustable fuel pressure regulator allows you to precisely set fuel pressure to factory specifications, assuring a perfect air/fuel ratio, as well the ability to fine tune the air/fuel ratio for maximum performance. Comes complete with everything needed for easy installation.

                    </p>


                </div>           
            </div>




            <div class="card" style="background-color:#333333;">
                <div class="cardheader_DarkRed">
                    <span class="cardheadertext">Fuel Pressure Gauge</span>
                </div>
                <div class="cardcontainer">
                    <img src="{{ 'Fuel-PRessure-Gauge.png' | asset_img_url: 'master' }}" alt="Fuel Pressure Gauge" />

                    <p>The fuel pressure gauge is a must when pressure adjustments are necessary. The gauge is calibrated 0-100 PSI. </p>
                </div>           
            </div>


            

            <div class="card" style="background-color:#333333;">
                <div class="cardheader_DarkRed">
                    <span class="cardheadertext">Air Charger</span>
                </div>
                <div class="cardcontainer">
                    
                    <img src="{{ 'Air-Charger.png' | asset_img_url: 'master' }}" alt="Air Charger" />

                    <p>The aerodynamics of the factory throttle body can be improved by installing a Hypertech Air Charger. This easy, bolt-on modification streamlines the airflow cleanly around the center butterfly divider, resulting in an overall increase in airflow through the engine. Reducing the turbulence inherent in the factory design results in enhanced mid and high RPM performance.

                    </p>


                </div>           
            </div>
  
  {% endcomment %}
      
</div>



