<div class="page-width contentContainer page-{{ page.handle }}">
  <div class="contentWrapper">
    <div class="content-card">

 
<div class="page-hero" style="background:url({{ 'support-faqs.png' | asset_url }});">
      <h1>{{ page.title }}</h1>
 </div>

<div class="warranty-content">

            <h1>30-Day Risk-Free, Money Back Guarantee</h1>
            
            <img class="img-right" src="{{ '30day.png' | asset_img_url: 'master' }}" alt="30 Day Money Back Guarantee" />
            
            
            <p>The 30-day money back guarantee applys to all React Throttle Optimizers, Max Energy 2.0 Power Programmers, Max Energy Power Programmers, Interceptors, Speedometer Calibrators, In-Line Speedometer Calibrator Modules, and Power Chips for GM. The product MUST be returned to the place of purchase within thirty (30) days. All items must be received in a new, unused and ready-to-sell condition (including all original packaging, parts, and paperwork) to receive a refund, excluding any shipping and handling fees. Units purchased used or reconditioned from a non-authorized Hypertech dealer, or units sold by 3rd-party vendors (i.e. ebay) are NOT covered under this guarantee.</p>

            <p>*Effective Date 01/01/2019</p>

            <h1>Product Warranty</h1>

            <b>1 Year Factory Direct Limited Warranty*</b><br><br>

            

            <img class="img-right" src="{{ 'warranty.png' | asset_img_url: 'master' }}" alt="1 Year Factory Direct Limited Warranty*" />


            <p>Hypertech products are warranted against defects in materials or workmanship for one year from the date of purchase. Hypertech’s liability under this warranty shall be limited to the prompt correction or replacement of any defective part of the product which Hypertech determines to be necessary. This limited one (1) year warranty is to the original purchaser providing all the information requested is furnished. You must retain a copy of your original sales invoice or receipt. Without proper documentation, a service fee will be applied. Third party resellers and resold units are NOT covered under this warranty.</p>

            <p>*Effective Date 01/20/2020</p>
            <br>
            <b>Return Your Vehicle To Stock Tuning</b><br><br>
            <p>BEFORE Taking Your Vehicle In For Service</p>
            
            <p>If you take your vehicle to a dealer or mechanic for service, you must first remove the Hypertech Power Tuning and restore the stock programming. This is because diagnostic devices expect to find stock calibrations and will often overwrite the program if the latest stock calibration is not found in the  computer’s memory. This will result in the loss of your Hypertech Power Tuning data. The Power Tuning can be easily removed to restore the stock tuning before you take your vehicle in for service, enabling the service technician to upgrade your stock calibrations. After the service is complete, you can reinstall your Hypertech Power Tuning. If you have any questions related to service issues, please call Hypertech at 901.382.8888.</p>

            <br>
            <b>Hypertech Products Are Street-Legal &amp; Clean</b><br><br>

            <p>In the interest of improved air quality, the California Air Resources Board (CARB) requires new vehicle and manufacturers of aftermarket parts to develop engine and emissions equipment that either reduce or maintain specific air pollutants affected by vehicle use. Both the California Vehicle Code (Section 27156) and Federal Clear Air Act (administered by the Environmental Protection Agency) prohibit modifications that increase vehicle emissions.</p>
            
            <p>Hypertech includes meeting all E.O. requirements in its product development process. This guarantees that users of Hypertech Power Tuning products will meet certification requirements when registering, selling or needing to pass various emissions tests or Inspection and Maintenance (I&amp;M) programs administered by state or local enforcement agencies. So, on an ongoing basis, Hypertech obtains and includes CARB E.O.s for its emissions-related products. This ensures these products are not detrimental to ambient air quality and meet requirements necessary for their legal sale and use. Make sure that any emissions-related product you buy and install carries an E.O. number. Without this verification you are at risk, in potential violation of regulations and may incur unnecessary financial obligations during vehicle inspection.</p>
            
            <div class="img-center">
                <img src="{{ '50-State.png' | asset_img_url: 'master' }}" alt=" Hypertech Products Are Street-Legal & Clean" />
             </div>

           
              {{ page.content }}

</div>







    </div>
  </div>
</div>
