<div class="page-width contentContainer page-{{ page.handle }}">
  <div class="contentWrapper">
    <div class="content-card">

 
<div class="page-hero" style="background:url({{ 'support-faqs.png' | asset_url }});">
      <h1>{{ page.title }}</h1>
 </div>


        
<div class="manuals-content">


        <div class="productmanuals-grid">

            <a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/SPECTRUM_INST.pdf?v=1611102853" target="_blank" class="productmanuals-item">
                <span>Max Energy Spectrum</span>
                <img src="{{ '290x145Spectrum.png' | asset_img_url: 'master' }}" alt="Max Energy Spectrum">
            </a>

             <a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/SPECTRUM_RZR_INST.pdf?v=1611102955" target="_blank" class="productmanuals-item">
                <span>Max Energy Spectrum RZR</span>
                <img src="{{ '290x145SpectrumRZR.png' | asset_img_url: 'master' }}" alt="Max Energy Spectrum RZR">
            </a>

            <a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/SPECTRUM_SPEEDO_INST.pdf?v=1611102953" target="_blank" class="productmanuals-item">
                <span>Speedometer Calibrator</span>
                <img src="{{ '290x145SpectrumSpeedoCal.png' | asset_img_url: 'master' }}" alt="Speedometer Calibrator">
            </a>
            
            <!--- Row -->

            <a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/React_Quick_Install_Guide.pdf?v=1611103117" target="_blank" class="productmanuals-item">
                <span>React</span>
                <img src="{{ 'REACT.png' | asset_img_url: 'master' }}" alt="React">
            </a>

            <a href="/pages/inline-speedometer-calibrator-instructions" class="productmanuals-item">
                <span>Inline Speedometer Calibrator</span>
                <img src="{{ '290x145Inline.png' | asset_img_url: 'master' }}" alt="Inline Speedometer Calibrator">
            </a>

             <a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/speedocalibrator.pdf?v=1611103303" target="_blank" class="productmanuals-item">
                <span>Speedometer Calibrator</span>
                <img src="{{ '290x145SpeedoCal.png' | asset_img_url: 'master' }}" alt="Speedometer Calibrator">
            </a>

            <!---  Row -->

            <a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/ME_2.0_2000_2100__Instructions.pdf?v=1611103491" target="_blank" class="productmanuals-item">
                <span>Max Energy 2.0</span>
                <img src="{{ '290x145ME2.0.png' | asset_img_url: 'master' }}" alt="Max Energy 2.0">
            </a>

            <a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/maxenergy.pdf?v=1611103489" target="_blank" class="productmanuals-item">
                <span>Max Energy</span>
                <img src="{{ '290x145ME.png' | asset_img_url: 'master' }}" alt="Max Energy">
            </a>

            <a href="#" id="myBtn" target="_blank" class="productmanuals-item">
                <span>Legacy Products</span>
                <img src="{{ 'Legacy.png' | asset_img_url: 'master' }}" alt="Max Energy">
            </a>

            <a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/HYPERTECH_-_RZR_Door_Bag_FINAL.pdf?v=1644521113" target="_blank" class="productmanuals-item">
                <span>Powersport Accessories</span>
                <img src="{{ 'Hypertech_Powerports_Accessories.jpg' | asset_img_url: 'master' }}" alt="Max Energy">
            </a>



        </div>    


       
      


    <!-- The Modal -->
    <div id="Legacy-Popup" class="overlay">
        <div class="popup-1">		
	        <a class="close" href="#">×</a>
	        <div class="content">
                <h2>Legacy Product Manuals</h2>  
                <ul>
                    <li> <a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/econ.pdf?v=1611135153" target="_blank"><b>Max Energy Econ</b></a></li>

                    <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/sport.pdf?v=1611135176" target="_blank"><b>Max Energy Sport</b></a></li>

                    <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Complete_Manual_V05_30_12.pdf?v=1611135213" target="_blank"><b>HyperPAC</b></a></li>

                    <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/PP3.pdf?v=1611135256" target="_blank"><b>Power Programmer III</b></a></li>
                </ul>


                <h2>Interceptor Specific Instructions</h2>
                <ul>
                    <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Interceptor_Installation.pdf?v=1611135496" target="_blank"><b>General Instructions</b></a></li>
                
                    <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/5.7car_6.4SUV.pdf?v=1611135536" target="_blank"><b>2011-2013 Dodge 5.7L Car and 6.4L SRT8 Car and SUV</b></a></li>

                    <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/5.7Dodge-JeepSUV.pdf?v=1611135588" target="_blank"><b>2011-2013 Dodge/Jeep SUV 5.7 Hemi</b></a></li>

                    <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Ram5.7Hemi.pdf?v=1611135624" target="_blank"><b>2011-2013 RAM 5.7L</b></a></li>

                    <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/JeepJK3.6.pdf?v=1611135700" target="_blank"><b>2012-2013 Jeep JK 3.6L</b></a></li>

                    <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Ram3.6.pdf?v=1611135743" target="_blank"><b>2013 RAM 3.6L</b></a></li>
                    
                    <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/3.6Car.pdf?v=1611135782" target="_blank"><b>2011-2013 Dodge/Jeep Car/SUV 3.6L</b></a></li>

                    <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/Toyota5.7inst.pdf?v=1611135821" target="_blank"><b>2007-2014 Toyota 5.7L iForce</b></a></li>

                    <li><a href="https://cdn.shopify.com/s/files/1/0518/4264/6211/files/4.6TundraInterceptor.pdf?v=1611135857" target="_blank"><b>2007-2014 Toyota 4.6L iForce</b></a></li>
                </ul>

	        </div>
        </div>
    </div>

       
                
        {{ page.content }}

</div>


    </div>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById("Legacy-Popup");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
  modal.style.visibility = "visible";
  modal.style.opacity = "1";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>   