<div class="page-width contentContainer page-{{ page.handle }}">
  <div class="contentWrapper">
    <div class="content-card">

 <img src="{{ 'OurFounder.jpg' | asset_img_url: 'master' }}" alt="Hypertech Timeline" />

 <div class="founder-content">
    <p class="founder-quote">“The reason I started Hypertech was for people just like me…</p>
<p class="founder-quote">People who like to drive a high-performance street car every day of their life”</p>

<br /><br />

<p class="founder-name">
<span>Mark Heffington</span><br />
<strong>Founder, Hypertech Inc.</strong>
</p>

<div class="foundercontent-row">
        {% comment %} left col {% endcomment %}
        <div class="foundercontent-colleft">
        
            <img src="{{ 'Mark_headshot.jpg' | asset_img_url: 'master' }}" class="imgright picture">
        
            <p>Mark Heffington was born October 2, 1941, in his grandmother’s home in Memphis, Tennessee. As a fifth grader, he enjoyed helping out in the school library, where he became inspired by three car books, The Modern Racing Engine, a technical book published in late l940’s, and two fictitious novels Hot Rod and Street Rod, both written by Henry Gregory Felsen.  By the time he was 15, he had his mother taking him and friends to local drag races. Hooked on cars, Heffington pursued a degree in mechanical engineering from the University of Tennessee, and then began his career in the aftermarket industry as the chief cam designer for Crane Cams. In 1972, he founded Cam Dynamics, a leading manufacturer of high-performance and racing camshafts. In the early 1980s, he sold the company and began consulting on camshaft design and engineering for United Technologies and General Motors.</p>
        </div>
        {% comment %} right col {% endcomment %}
        <div class="foundercontent-colright">
            <div>
                <p>Heffington’s pioneering contributions to the aftermarket and racing communities brought him induction into the Hot Rod Hall of Fame in 1997. His company also became a five-time winner of SEMA Best New Performance Street Product and Best Engineered Product awards, and a two-time Popular Mechanics Editor’s Choice award winner for product innovation, among other industry accolades.</p>
                <p>Indeed, since his successes in the 1990s, Heffington has continued to demonstrate zeal and innovation for the industry. In 2009, Hypertech introduced the SPORT Power Programmer, the first street-legal line of tuners for imports. (Heffington took an early stand with his company, creating only street-legal products meeting emission standards.) <b>“The reason I started Hypertech was for people just like me… People who like to drive a high-performance street car every day of their life,”</b> Heffington explained.</p>
            </div>
        </div>
</div>


<div class="foundercontent-row">
        {% comment %} left col {% endcomment %}
        <div class="foundercontent-left2">

            <div class="imgright picture"> 
                <img src="{{ 'MarkHHi-Risers.jpg' | asset_img_url: 'master' }}"> <br>1974 Car Craft Hi-Riser
            </div>            

            <p>When the concept of computer-controlled engines began to emerge, Heffington realized how such a revolution could significantly impact, and even hinder, the performance industry by leaving tuning to factory engineers with proprietary information. Suddenly, an idea struck him.</p>

            <p><b>“I felt like John Belushi at the Triple Rock Church when he had seen the light,” Heffington would later recall. “In a matter of seconds I knew exactly what I wanted to do and saw the opportunity. And then you just go and do it.”</b></p>

            <p style="padding-bottom:8px;">Heffington poured himself into research and exploration. He founded Hypertech Inc. in 1985 in Bartlett, Tennessee, and engaged engineering consultants to help with computer programs and reverse engineering of codes to develop aftermarket onboard computer reprogramming devices. In 1986 he introduced the first Power Chip to recalibrate the early automotive computers that used replaceable PROMs or “chips” in their Electronic Control Modules (ECMs). In 1994, with later generations of Electronic Control Units (ECUs) eliminating such chips, Hypertech kept pace, releasing another first, the Power Programmer, to access and alter the “flash” programmable memory associated with the newer OBII technology. In fact, during Hypertech’s early products, chiefly because few manufacturers understood the technology as Heffington did.</p>

            <div class="picture"><img src="{{ 'MH1.jpg' | asset_img_url: 'master' }}"><br />Track testing his Lingenfelter ZO6</div><br>
        </div>

        {% comment %} right col {% endcomment %}
        <div class="foundercontent-colright2">

            <div class="picture"> <img src="{{ 'HotRod1.98-detail.jpg' | asset_img_url: 'master' }}"><br />1997 Hot Rod Hall of Fame</div>    

            <p style="padding-top:8px;">Over the years, onboard computer controllers have become more and more sophisticated, regulating fuel, spark, transmission and even radiator cooling fans. However, Heffington views this less as a challenge than an opportunity for even more performance gains. Now in its 27th year, Hypertech remains a leader of engine tuning products, and Heffington continues to look to the future, seeing better ways to control highly modified engines equipped with nitrous, cam changes or superchargers, as well as the ever-changing production models.<br><br></p>

            <p style="padding-bottom:8px;"><b>In 2012, Mark Heffington was inducted into the prestigious SEMA Hall of Fame. This honor is only given to automotive industry legends, luminaries and icons for their technical achievements, unquestionable integrity and innovative contributions made to the automotive aftermarket.</b></p>
            <div class="picture"><img src="{{ 'markinHTshop.jpg' | asset_img_url: 'master' }}"><br />At Hypertech working on his Project '57 Chevy</div>
        </div>

</div>



   {{ page.content }}
 </div>



    </div>
  </div>
</div>
